<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# SQL Notebook

#### Import Libraries & Database

In [91]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

#Total Daily Customers for 2023
### Using COUNT(DISTINCT)

#Total Daily Customers Regionally in 2023
### Using COUNT(DISTINCT CASE)

In [139]:
%%sql

SELECT s.orderdate,
count(DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) as au_customer,
count(DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) as na_customer,
count(DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) as eu_customer
FROM sales as s

LEFT JOIN customer as c on s.customerkey = c.customerkey

WHERE orderdate BETWEEN  '2023-01-01' and '2023-12-31'
group by orderdate
order by orderdate asc

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  au_customer  na_customer  eu_customer
0    2023-01-01            1            5            6
1    2023-01-02            3           31           15
2    2023-01-03            3           44           17
3    2023-01-04            4           46           28
4    2023-01-05            8           57           22
..          ...          ...          ...          ...
359  2023-12-27            6           41           26
360  2023-12-28            7           44           24
361  2023-12-29            4           32           19
362  2023-12-30           16           50           25
363  2023-12-31            0            8            1

[364 rows x 4 columns]

# Total Net Revenue by Category
### Using SUM(CASE)

In [169]:
%%sql

SELECT p.categoryname,
SUM(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice* s.exchangerate ELSE 0  END) AS net_revenue_2022,
SUM(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice* s.exchangerate ELSE 0  END) AS net_revenue_2023
FROM product as p
LEFT JOIN sales as s on p.productkey = s.productkey
group by p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  revenue_2022  revenue_2023
0                          Audio     766938.21     688690.18
1                    Cell phones    8119665.07    6002147.63
2        Cameras and camcorders     2382532.56    1983546.29
3                   TV and Video    5815336.61    4412178.23
4                Home Appliances    6612446.68    5919992.87
5                 Games and Toys     316127.30     270374.96
6  Music, Movies and Audio Books    2989297.28    2180768.13
7                      Computers   17862213.49   11650867.21

# STATISTICAL PIVOTING

###AVG, MIN, MAX

In [174]:
%%sql

SELECT p.categoryname,
AVG(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice* s.exchangerate  END) AS avg_net_revenue_2022,
AVG(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice* s.exchangerate  END) AS avg_net_revenue_2023,
MIN(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice* s.exchangerate  END) AS min_net_revenue_2022,
MIN(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice* s.exchangerate  END) AS min_net_revenue_2023,
MAX(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice* s.exchangerate  END) AS max_net_revenue_2022,
MAX(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice* s.exchangerate  END) AS max_net_revenue_2023
FROM product as p
LEFT JOIN sales as s on p.productkey = s.productkey
group by p.categoryname
order by p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,avg_net_revenue_2022,avg_net_revenue_2023,min_net_revenue_2022,min_net_revenue_2023,max_net_revenue_2022,max_net_revenue_2023
0,Audio,392.30,425.38,9.31,10.85,3473.36,2730.87
1,Cameras and camcorders,1210.02,1210.96,6.74,5.98,15008.39,13572.00
2,Cell phones,722.20,623.28,2.53,2.28,7692.37,8912.22
3,Computers,1565.62,1292.39,0.83,0.75,38082.66,27611.60
4,Games and Toys,81.29,80.83,2.83,3.49,5202.01,3357.30
5,Home Appliances,1755.36,1886.55,4.04,4.54,31654.55,32915.59
6,"Music, Movies and Audio Books",386.61,334.58,7.29,6.91,5415.19,3804.91
7,TV and Video,1535.61,1687.90,41.30,42.30,30259.41,27503.12

### MEDIAN USING CASE

In [181]:
%%sql

SELECT p.categoryname,
PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate END) ) ) AS  y2022_median_sales,
PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate END) ) ) AS  y2023_median_sales

FROM product as p
LEFT JOIN sales as s on p.productkey = s.productkey
group by p.categoryname
order by p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  y2022_median_sales  y2023_median_sales
0                          Audio              257.21              266.59
1        Cameras and camcorders               651.46              672.60
2                    Cell phones              418.60              375.88
3                      Computers              809.70              657.18
4                 Games and Toys               33.78               32.62
5                Home Appliances              791.00              825.25
6  Music, Movies and Audio Books              186.58              159.63
7                   TV and Video              730.46              790.79